<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<link href="https://fonts.googleapis.com/css?family=HeliosCond&display=swap" rel="stylesheet">
<link rel="stylesheet" href="styles.css" />
<div class=e5_2>
  <div class="e5_3"></div>
  <div class="e5_20"></div><span  class="e5_4">Добро пожаловать!</span>
  <div class="e5_10"></div>
  <div class="e5_11"></div>
  <div class="e5_13"></div>
  <div class="e5_15"></div><span  class="e5_14">Логин</span><span  class="e5_16">Пароль</span><span  class="e5_17">Запомнить</span><span  class="e5_21">Запомнить</span>
  <div class="e5_18"></div>
  <div class="e5_24"></div>
  <div class="e5_29"></div><span  class="e5_19">Вход</span>
  <div class="e5_7"></div>
  <div class="e5_32"></div>
  <div class="e5_28"></div>
</div>
</body>
</html>